/* creacion de inputs */
.borde{
    border: 1px solid black;
    width: 32%;
    height: 370px;
    margin: 5px;
    padding: 10px;
}

.inputs{
    margin-bottom: 7px;
}

/* Guardado de datos */


.estilosPost{
    width: 424px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid rgb(197, 196, 196);
    border-radius: 10px;
}

.estilosPost:hover{
    color: rgb(49, 49, 49);
    box-shadow: 0 0 15px rgba(12, 12, 12, 0.842);
}

.encabezadoDeTarjeta{
    margin-top: 8px;
    margin-left: 8px;
    color: white;
    
}

.edit{
    margin-left: 370px;
    margin-top: 5px;
    color: #fff;
    transition: all .2s;
    position: absolute;
}

.add{
    margin-left: 315px;
    margin-top: 5px;
    color: #fff;
    transition: all .2s;
    position: absolute;
}

.del{
    margin-left: 260px;
    margin-top: 5px;
    color: #fff;
    transition: all .2s;
    position: absolute;
}

.edit:hover,.add:hover, .del:hover{
    color:  rgb(255, 154, 4);
    text-shadow: 0 0 5px rgba(255, 175, 1, 0.514);
    cursor: pointer;
}

.hr{
    border: 2px solid red;
    display: block;
    width: 418px;
    margin-top: 150px;
}

.dialogDelete{
    position: absolute;
    background-color: white;
    font-size: 15px;
    padding: 2px 4px 2px 4px;
    margin-top: 180px;
    margin-left: 200px;
    box-shadow: 0 0 15px rgba(12, 12, 12, 0.842);
}

.dialogEdit{
    position: absolute;
    background-color: white;
    font-size: 15px;
    padding: 2px 4px 2px 4px;
    margin-top: 180px;
    margin-left: 310px;
    box-shadow: 0 0 15px rgba(12, 12, 12, 0.842);
}

.dialogAdd{
    position: absolute;
    background-color: white;
    font-size: 15px;
    padding: 2px 4px 2px 4px;
    margin-top: 180px;
    margin-left: 270px;
    box-shadow: 0 0 15px rgba(12, 12, 12, 0.842);
}

/* estilos inicales */

#btn{
    width: 424px;
    height: 270px;
    margin: 10px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    padding-top: 80px;
    color: rgb(255, 255, 255);
    transition: all .32s;
    font-weight: bold;
    background-color: #2C5364;
    border-radius: 10px;
}

#btn:hover{
    box-shadow: 0 0 10px rgba(44, 44, 44, 0.87),
                -1px -1px 0px 10px inset #0F2027;
}

#btn:hover > .pull{
    transition: all .35s;
    transition-timing-function: ease-in-out;
    transform: rotateZ(180deg) rotatex(180deg);
}

.taller{
    display: flex;
    flex-wrap: wrap;
}

/* div black */

.divBlack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.651);
    z-index: 3;
    
}



.mini-menu{
    position: absolute;
    margin-top: 2px;
    
    color: black;
}

.aside{
    position: fixed;
    border: 1px solid black;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #0F2027;
    z-index: 2;
}

.encabezado{
    margin-top: 8px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
}

.nav{
    border: 1px solid rgb(214, 213, 213);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.349);
    position: fixed;
    top: 0;
    left: 300px;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(243, 243, 243);
    border-left: none;
    border-right: none;
    padding-left: 20px;
    z-index: 1;
}





.footer{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 410px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(14, 29, 36);
    box-shadow: -1px -14px 11px -8px rgba(0,0,0,0.52);
}
.icon-f{
    font-size: 21px;
    transition: all .2s;
}

.icon-f:hover{
    color: rgb(255, 154, 4);
    cursor: pointer;
    text-shadow: 0 0 5px rgba(255, 175, 1, 0.514);
}

.options{
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
}
.option{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 300px;
    height: 40px;
    margin-top: -20px;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    transition: all .2s;
}

.option:hover{
    text-decoration: none;
    color: rgb(255, 154, 4);
    box-shadow: inset 14px 4px 0px -5px  rgb(255, 154, 4),
                    -16px 2px 28px -7px rgba(0,0,0,0.52);
    border: 1px solid rgba(0, 0, 0, 0.589);
}

/* ------------------------------------------ */

.formCreate{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:white;
    opacity: 1;
    background-color: #0F2027;
    border-radius: 7px;
}
.columnLeft{
    width: 400px;
    height: 100%;
    float: left;
    padding: 30px;
    color: white;
}

.columnRight{
    width: 400px;
    height: 100%;
    float: right;
    color: white;
    padding: 30px;
}

.form-group{
    height: 100px;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 5px;
    transition: all .2s;
}

.form-group:hover{
    box-shadow: inset 14px 4px 0px -5px  rgb(255, 154, 4),
    0px 4px 24px -9px rgba(0,0,0,0.75);
}

.close{
    position: absolute;
    top: 1.5%;
    left: 96.5%;
    color: white;
    opacity: 1;
    cursor: pointer;
    transition: all .1s;
}

.close:hover{
    color: rgb(255, 154, 4);
    cursor: pointer;
    text-shadow: 0 0 2px rgba(255, 175, 1, 0.514);
}
